
<%= ReactPhoenix.ClientSide.react_component("Components.MetadataFormPage", %{metadataFormRoute: Routes.metadata_path(@conn, :patch), metadataQueryRoute: Routes.metadata_path(@conn, :search), formKey: @form_key, search_key: @search_key }) %>
