<%= ReactPhoenix.ClientSide.react_component("Components.DashboardPage", %{
    samplesCompleted: @samples_completed,
    samplesCompletedAssayBreakdown: @samples_completed_assay_breakdown,
    samplesCompletedTOrNBreakdown: @samples_completed_t_or_n_breakdown,
    samplesConnectedToClinical: @samples_connected_to_clinical,
    samplesInProcess: @samples_in_process,
    samplesProcessAssayBreakdown: @samples_process_assay_breakdown
    }) %>
