
<%= ReactPhoenix.ClientSide.react_component("Components.MetadataPage", %{metadataList: @metadataList, requestKeyList: @requestKeyList, metadata_validation: @metadata_validation, noMetadataChangesMessage: @noMetadataChangesMessage, noQcReportDataMessage: @noQcReportDataMessage, qcReportField: @qcReportField, sampleVerificationKeys: @sampleVerificationKeys, params: @params}) %>