<h1>Listing Assays</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for assay <- @assays do %>
    <tr>

      <td>
        <span><%= link "Show", to: Routes.assay_path(@conn, :show, assay) %></span>
        <span><%= link "Edit", to: Routes.assay_path(@conn, :edit, assay) %></span>
        <span><%= link "Delete", to: Routes.assay_path(@conn, :delete, assay), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Assay", to: Routes.assay_path(@conn, :new) %></span>
