<h1>Show Job</h1>

<ul>

  <li>
    <strong>Job:</strong>
    <%= @job.group_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.job_path(@conn, :edit, @job) %></span>
<span><%= link "Back", to: Routes.job_path(@conn, :index) %></span>
