<h1>Show Workflow</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @workflow.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.workflow_path(@conn, :edit, @workflow) %></span>
<span><%= link "Back", to: Routes.workflow_path(@conn, :index) %></span>
